<div class="row center">
    <div class="col m12 s12 center">
        <h5 class="text-center">Escolha a categoria que deseja ver as notícias</h5>
    </div>
    <!-- <div class="row"> -->
    <div class="col s3 m3 offset-m3">
        <div class="card">
            <div class="card-image">
                <img height="400px" src="../../assets/scienceBanner.png">
                <a class="card-title" routerLink="/science">Ciência</a>
            </div>
            <div class="card-content">
                <p>Últimas notícias envolvendo Ciência diretamente da redação do New York Times</p>
            </div>
            <a class="black-text" routerLink="/science">
                <div class="card-action">
                    Confira
                </div>
            </a>

        </div>
    </div>
    <div class="col s3 m3">
        <div class="card">
            <div class="card-image">
                <img height="400px" src="../../assets/technologieBanner.jpeg">
                <a class="card-title" routerLink="/technology">Tecnologia</a>
            </div>
            <div class="card-content">
                <p>Últimas notícias envolvendo Tecnologia diretamente da redação do New York Times</p>
            </div>
            <a class="black-text" routerLink="/technology">
                <div class="card-action">
                    Confira
                </div>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>