<nav>
    <div class="nav-wrapper black-text white">
        <a href="#" class="brand-logo right"><img height="60px" src="../assets/logoLarge.png"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down black-text">
            <li><a class="black-text" routerLink="/">Início</a></li>
            <li><a class="black-text" routerLink="/science">Ciência</a></li>
            <li><a class="black-text" routerLink="/technology">Tecnologia</a></li>
        </ul>
    </div>
</nav>

<h1 class="center">Compasso Times </h1>
<app-news-list></app-news-list>

<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->